.App {
  text-align: center;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
  background-color: #362728;
  color: #fdfdfd;
  min-height: 15vh;
}

#cars {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#cars td,
#cars th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cars tr:nth-child(even) {
  background-color: #f2f2f2;
}

#cars #car-row:hover {
  background-color: #ddd;
}

#cars th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2b2222;
  color: white;
}

.sample-header-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("https://www.appian.com/assets/sites/4/2017/10/blog-auto-digital-fb.jpg");
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 15% 0 10%;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.8;
}

.center_form {
  box-align: center;
  width: 100px;
  vertical-align: middle;
  line-height: 1.8;
}

label {
  color: #6a68e9;
  display: block;
  font-weight: bold;
  width: 800px;
}

.genericBtn {
  color: #444444;
  background-color: #008bba48;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18pt;
  outline: none;
}

.genericBtn:hover {
  background-color: rgb(76, 107, 175);
  color: white;
}
